body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5em 5em;
  }
  
  .label {
    fill: rgb(228, 23, 23);
    text-anchor: middle;
    font-weight: bolder;
    
  }
  
  .axis {
    font-size: 16px;
    fill: rgb(228, 23, 23);
    font-weight: bold;
  }

  #container {
    background-color: rgb(42, 50, 165);
}